/*<!-- Realizado por los alumnos de 1 DAM IES Venancio Blanco:

		Valdearcos Trenas, Andrés
		Pérez Sánchez, Pedro Daniel
		Prieto Parrilla, Elías
		García Bermejo, David
		 -->*/


/*Sitio*/
body{
	width: 100%;
	margin: 0;
	padding: 0;
}

button{
	color: #fff;
	border-radius: 3px;
	border-width: 1px;
	border-width: 2px;
	cursor: pointer;
	margin: 0;
	padding-left: 23px;
	padding-right: 23px;
	text-decoration: none;
	border: none;
	font-size: .8571em;
	font-weight: 600;
	line-height: 1.35em;
	padding: 11px 22px;
	text-align: center;
	text-transform: uppercase;
	transition: all .15s linear;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 0.5rem;
}
button:hover{
	background: #333;
}

body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

header, main, footer{
	flex: 1;
	width: 100%;
}



/*Formulario Login*/
body main .form{
	background-color: rgba(0,0,0,0.8);
	background: url('resources/bg.png') no-repeat center top;
	max-width: 100%;
	position:relative;
	z-index:1;

}

body main .form:after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	z-index:-1;
}


main .form{
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

main .form form{
	background-color: #F6F6F5;
	border-radius: 1rem;
	padding: 1rem 1rem 2rem 1rem;
	word-wrap: break-word;
	box-sizing: border-box;
}

main .form form h1{
	text-align: center;
	font-size: 2em;
	line-height: 1.4em;
	margin-bottom: 30px;
	font-weight: 400;
	font-family: inherit;
	color: inherit;
	margin-top: 0;
	box-sizing: border-box;
	font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

main .form form .contenedor{
	display: flex;
}

main .form form .contenedor input{
	-moz-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
	-o-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
	-webkit-box-shadow: none;
	-webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 1px;
	border-left: 0 none;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: none;
	color: #66615b;
	cursor: auto;
	display: block;
	flex: 1 1 auto;
	font-size: 14px;
	line-height: normal;
	padding: 10px 10px 10px 10px;
	position: relative;
	transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
	width: 1%;
	margin-bottom: 1rem;
}

main .form form button{
	background-color: #34b5b8;
	color: #fff;
	box-shadow: none;
	border-radius: 30px;
	border-width: 1px;
	border-width: 2px;
	cursor: pointer;
	margin: 0;
	padding-left: 23px;
	padding-right: 23px;
	text-decoration: none;
	border: none;
	font-size: .8571em;
	font-weight: 600;
	line-height: 1.35em;
	padding: 11px 22px;
	text-align: center;
	text-transform: uppercase;
	transition: all .15s linear;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 0.5rem;
}

main .form form button:hover{
	background-color: #34b5b8;
	color: #fff;
	box-shadow: none;
}


/* Tienda */  /*#############################*/

.shop header{
	width: 100%;
}

.shop header section{
	width: 100%;
	background-color: #fff;
	height: 6rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.shop header section span{
	display: block;
	color: #212121;
	flex: 1;
	margin-left: 15px;
}

.shop header section h1{
	flex: 1;
}

.shop header section form{
	flex: 1;
}

.shop header section h1 a{
	font-size: 40px;
	color: #fe9126;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 1;
	text-align: center;
}

.shop header section form input{
	width: 70%;
	padding: 10px;
	font-size: 14px;
	color: #999;
	outline: none;
	border: 1px solid #cccccc;
	background: none;
	-webkit-appearance: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	display: inline-block;
	margin: none;
	margin-top: auto;
	margin-bottom: auto;
}

.shop header section form button{
	background: #fe9126;
	width: 18%;
	padding: 11px 12px 11px;
	float: left;
	outline: none;
	border: none;
	display: inline-block;
	margin: auto;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
	
}

.shop header section form button:hover{
	background: #333;
}

.shop header section div{
	flex: 1;
	padding-right: 4rem;
	padding-left: 4rem;
}

.shop header section div form button{
	background: #fe9126;
	width: 18%;
	padding: 11px 12px 11px;
	float: right;
	outline: none;
	border: none;
	display: inline-block;
	margin: auto;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}


.shop header section div a{
	padding: 11px 12px 11px;
	color: #fff;
	background: #333;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	line-height: 1;
	float: right;
}

.shop header section section div a:hover{
	background: #fe9126;
}

.shop header section section button{
	flex: 1;
	margin: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FE9126;
}

/*  Cuerpo de la tienda */

.shop main h2{
	text-align: center;
}

.shop main section{
	width: 80%;
	margin: auto;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}




